/* /Pages/Godot.razor.rz.scp.css */
body[b-2vcs4mg3mt] {
    touch-action: none;
    margin: 0;
    border: 0 none;
    padding: 0;
    text-align: center;
    background-color: black;
}

#canvas[b-2vcs4mg3mt] {
    margin: 0;
    color: white;
    width: 100%;
    display: inline;
}

    #canvas:focus[b-2vcs4mg3mt] {
        outline: none;
    }

.godot[b-2vcs4mg3mt] {
    font-family: 'Noto Sans', 'Droid Sans', Arial, sans-serif;
    color: #e0e0e0;
    background-color: #3b3943;
    background-image: linear-gradient(to bottom, #403e48, #35333c);
    border: 1px solid #45434e;
    box-shadow: 0 0 1px 1px #2f2d35;
}


/* Status display
		 * ============== */

#status[b-2vcs4mg3mt] {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* don't consume click events - make children visible explicitly */
    visibility: hidden;
}

#status-progress[b-2vcs4mg3mt] {
    width: 366px;
    height: 7px;
    background-color: #38363A;
    border: 1px solid #444246;
    padding: 1px;
    box-shadow: 0 0 2px 1px #1B1C22;
    border-radius: 2px;
    visibility: visible;
}

@media only screen and (orientation:portrait) {
    #status-progress[b-2vcs4mg3mt] {
        width: 61.8%;
    }
}

#status-progress-inner[b-2vcs4mg3mt] {
    height: 100%;
    width: 0;
    box-sizing: border-box;
    transition: width 0.5s linear;
    background-color: #202020;
    border: 1px solid #222223;
    box-shadow: 0 0 1px 1px #27282E;
    border-radius: 3px;
}

#status-indeterminate[b-2vcs4mg3mt] {
    height: 42px;
    visibility: visible;
    position: relative;
}

    #status-indeterminate > div[b-2vcs4mg3mt] {
        width: 4.5px;
        height: 0;
        border-style: solid;
        border-width: 9px 3px 0 3px;
        border-color: #2b2b2b transparent transparent transparent;
        transform-origin: center 21px;
        position: absolute;
    }

        #status-indeterminate > div:nth-child(1)[b-2vcs4mg3mt] {
            transform: rotate( 22.5deg);
        }

        #status-indeterminate > div:nth-child(2)[b-2vcs4mg3mt] {
            transform: rotate( 67.5deg);
        }

        #status-indeterminate > div:nth-child(3)[b-2vcs4mg3mt] {
            transform: rotate(112.5deg);
        }

        #status-indeterminate > div:nth-child(4)[b-2vcs4mg3mt] {
            transform: rotate(157.5deg);
        }

        #status-indeterminate > div:nth-child(5)[b-2vcs4mg3mt] {
            transform: rotate(202.5deg);
        }

        #status-indeterminate > div:nth-child(6)[b-2vcs4mg3mt] {
            transform: rotate(247.5deg);
        }

        #status-indeterminate > div:nth-child(7)[b-2vcs4mg3mt] {
            transform: rotate(292.5deg);
        }

        #status-indeterminate > div:nth-child(8)[b-2vcs4mg3mt] {
            transform: rotate(337.5deg);
        }

#status-notice[b-2vcs4mg3mt] {
    margin: 0 100px;
    line-height: 1.3;
    visibility: visible;
    padding: 4px 6px;
    visibility: visible;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-zgyxilewzt] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zgyxilewzt] {
    flex: 1;
}

.sidebar[b-zgyxilewzt] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zgyxilewzt] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zgyxilewzt]  a, .top-row[b-zgyxilewzt]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-zgyxilewzt]  a:hover, .top-row[b-zgyxilewzt]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-zgyxilewzt]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-zgyxilewzt] {
        display: none;
    }

    .top-row.auth[b-zgyxilewzt] {
        justify-content: space-between;
    }

    .top-row[b-zgyxilewzt]  a, .top-row[b-zgyxilewzt]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zgyxilewzt] {
        flex-direction: row;
    }

    .sidebar[b-zgyxilewzt] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zgyxilewzt] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-zgyxilewzt]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-zgyxilewzt], article[b-zgyxilewzt] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-4ults8d9ul] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-4ults8d9ul] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-4ults8d9ul] {
    font-size: 1.1rem;
}

.oi[b-4ults8d9ul] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-4ults8d9ul] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-4ults8d9ul] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-4ults8d9ul] {
        padding-bottom: 1rem;
    }

    .nav-item[b-4ults8d9ul]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-4ults8d9ul]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-4ults8d9ul]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-4ults8d9ul] {
        display: none;
    }

    .collapse[b-4ults8d9ul] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-4ults8d9ul] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
