@using Markdig;

<div>
    @GetAsMarkup()
</div>

@code {

    [Parameter]
    public string MarkdownString { get; set; } = "";

    public MarkupString GetAsMarkup()
    {
        if (!string.IsNullOrEmpty(MarkdownString))
            return (MarkupString)Markdown.ToHtml(MarkdownString);
        else return new MarkupString("");
    }
}
