@page "/glCanvasTest"
@using SkiaSharp.Views.Blazor


<h3>GlCanvasTest</h3>

<div class="slidecontainer">
    <input type="range" min="1" max="255" @bind-value="@_starAlpha" class="slider" id="myRange">
</div>

<label class="switch">
    <InputCheckbox @bind-Value="@_lightSpeed"/>
    <span  class="slider round"></span>
</label>

<SKGLView @ref="_glView" OnPaintSurface="OnPaintSurface" EnableRenderLoop="true"></SKGLView>