@page "/"
@page "/{CurrentPageName}"
@using versteegen.net.client.Components.UI
@using versteegen.net.client.Model
@using versteegen.net.client.Components.UI.Markdown
@using System.Net
@using System.Net.Http
@inject HttpClient Http
@inject IJSRuntime JS

<NavMenu AllPages="@AllPages" ></NavMenu>
<!--Container-->
<div class="container w-full md:max-w-3xl mx-auto pt-20">

    <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">

        <!--Post Content-->
        <!--Lead Para-->
        <p class="py-6">
            👋 Hi
        </p>

        <MarkdownView MarkdownString="@CurrentPage?.Content"></MarkdownView>


        <!--/ Post Content-->

    </div>



    <!--Divider-->
    <hr class="border-b-2 border-gray-400 mb-8 mx-4">



    <Author></Author>




    <!--Divider-->
    <hr class="border-b-2 border-gray-400 mb-8 mx-4">

    <NextAndPrevious CurrentPageNode="@CurrentNode"></NextAndPrevious>

</div>
<!--/container-->
@code
{

    private LinkedList<MarkdownPage> AllPages { get; set; } = new LinkedList<MarkdownPage>();
    private MarkdownPage? CurrentPage { get; set; }
    private LinkedListNode<MarkdownPage>? CurrentNode { get; set; } = null;

    [Parameter]
    public string CurrentPageName { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await BuildIndex();
        await GetCurrentNode();

        await base.OnInitializedAsync();

        await JS.InvokeVoidAsync("hljs.highlightAll");
    }

    protected override async Task OnParametersSetAsync()
    {
        await GetCurrentNode();
        StateHasChanged();
        await JS.InvokeVoidAsync("hljs.highlightAll");
    }

    public async Task GetCurrentNode()
    {
        if (CurrentPage == null)
            await BuildIndex();

        if (CurrentPage == null) return;

        var nodeByName = AllPages.FirstOrDefault(x => x.PageName == CurrentPageName);

        if (nodeByName != null)
        {

            CurrentNode = AllPages.Find(nodeByName);
        }
        else
        {
            CurrentNode = AllPages.Last;
        }

        CurrentPage = CurrentNode?.Value;

        StateHasChanged();
        await JS.InvokeVoidAsync("hljs.highlightAll");
    }

    public async Task BuildIndex()
    {
        AllPages.Clear();

        await AddPageToIndex("p1");
        await AddPageToIndex("testPage1");
        await AddPageToIndex("testPage2");
        await AddPageToIndex("testPage3");
        await AddPageToIndex("another");

        StateHasChanged();
    }

    public async Task AddPageToIndex(string url)
    {
        var page = await Http.GetStringAsync($"md/{url}.md?nocache={Guid.NewGuid()}");

        using var reader = new StringReader(page);
        var first = await reader.ReadLineAsync();

        if (first != null && first.Length > 3)
            first = first.Remove(0, 2);

        var newPage = new MarkdownPage()
            {
                Content = page,
                Uri = url,
                PageName = url,
                PageTitle = first ?? ""
            };

        CurrentPage = newPage;

        AllPages.AddLast(newPage);
    }

}

