<p class="py-6">Example code block:</p>
<pre class="bg-gray-900 rounded text-white font-mono text-base p-2 md:p-4">
				<code class="break-words whitespace-pre-wrap">
		@ChildContent
				</code>
			</pre>
			
			@code
            {
			    [Parameter]
			    public RenderFragment ChildContent { get; set; }

			}
			
