<!--Title-->
<div class="font-sans">
    <p class="text-base md:text-sm text-green-500 font-bold">&lt; <a href="#" class="text-base md:text-sm text-green-500 font-bold no-underline hover:underline">BACK</a></p>
    <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">@PostTitle</h1>
    <p class="text-sm md:text-base font-normal text-gray-600">Published: @PostDate</p>
</div>

@code
{
    public string PostDate { get; set; } = DateTime.Now.ToShortDateString();
    public string PostTitle { get; set; } = "";
}
